.app {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.right-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reference-proportions {
	display: flex;
  flex-direction: row;
  font-size: small; 
}

.mindmap-container {
  margin-top: 20px;
}

.map {
  /* border: 1px solid grey; */
  width: 850px;
  height: 500px;
}

.sidebar {
  margin-right: 20px;
}