.app {
  display: flex;
  flex-direction: row;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.reference-proportions {
	display: flex;
  flex-direction: row;
  font-size: small; 
}


