html, body, #root, .App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding-left: 0px; 

}

.Reference-proportions {
	width: 40%;
	
	  display: flex;
  flex-direction: row;
  	font-size: small; 

}

.App-link {
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
