.toolbar-proportions {
	width: 100%;
	height: 40%; 
	margin: 0px;
	padding: 0px; 
}

.divider {
	border-right: 0.1em solid grey;
	padding: 0.5em;
}

.icon-button {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

.icon-button--second {
	margin-right: 1em !important;
}


.search-filter-container {
	align-content: right;
	padding: 0.5em
}

.filter {
	border: none;
	text-align: 'centre';
	font-size: 12px;
	margin-right: 50px;
	margin-left: 50px;
}

.searchbar {
	text-align: 'centre';
	font-size: 12px;
}